﻿.message-posted {
    background-color: #add8e6;
    margin-bottom: 1%;
}

.message-posted:hover {
    background-color: #add8c0;
}


.avatar {
    border-radius: 50%;
}

.createdat {
    color : dimgrey !important;
}

a:link {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

a:active {
    text-decoration: none !important;
}