﻿.navbar-inverse {
    background-color: #428bca !important;
    border: none;
}

.navbar a {
    color: white !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: deepskyblue !important;
}