﻿
@{
    ViewBag.Title = "Inscription";
}

@model RegisterModel

<h2>Form</h2>

@using (Html.BeginForm("Form", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="col-md-12">
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.EditorFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.EditorFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Pseudo)
        @Html.EditorFor(m => m.Pseudo)
        @Html.ValidationMessageFor(m => m.Pseudo, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.EditorFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.VerifyPassword)
        @Html.EditorFor(m => m.VerifyPassword)
        @Html.ValidationMessageFor(m => m.VerifyPassword, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Avatar)
        <input type="file" name="test" id="fileUpload" accept=".png" />
    </div>
    <button type="submit" class="btn btn-primary" id="checkout">S'inscrire</button>
</div>

}