﻿@model M2Link.Models.Message.MessagesModel

@{
    ViewBag.Title = "Accueil";
}

@if (Model.NewMessage != null)
{
    @Html.Partial("_NewMessage", Model.NewMessage)
}

@if (Model.Messages != null)
{
    <div>Message : </div>
    <ul class="list-group">
        @foreach (var message in Model.Messages)
        {
            @Html.Partial("_Message", message)
        }
    </ul>
}
