﻿
@{
    ViewBag.Title = "Description";
}
<hr />
<div class="row">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Le .NETWork</h1>
            <p class="lead">Petit guide d'utilisation de la webapp.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <h3>Enregistrement</h3>
        <p class="text-justify">
            Vous pouvez vous enregistrer sur le site via le bouton "<span class="glyphicon glyphicon-registration-mark"></span>S'inscrire".
            Il y a des règles de mots de passe, et ces derniers sont hashés.
            La photo de profil est optionnelle, une par défaut est attribuée en l'absence de photo.
        </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <h3>Login</h3>
        <p class="text-justify">
            Vous pouvez vous connecter via le bouton "<span class="glyphicon glyphicon-log-in"></span>
            Se connecter". Une fois connecté, vous pourrez poster un message.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <h3>Poster un message</h3>
        <p class="text-justify">
            Une fois authentifié, vous pourrez poster un message. Ces messages seront vus par toutes les personnes qui vous suivent.
            Votre fil d'actualité des messages de vous ou des personnes que vous suivez se trouve en dessous de cette page d'accueil.
            Vous pouvez cliquer sur les messages pour faire apparaître le profil de la personne qui l'a posté. Dans ce profil vous retrouverez l'historique des
            messages postés par cet utilisateur.
        </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <h3>Mon profil</h3>
        <p class="text-justify">
            Vous pouvez éditer votre description de profil via votre page utilisateur.
            Pour éditer toutes les autres informations que la description du profil, rendez vous sur la page <span class="glyphicon glyphicon-user"></span> Edition.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <h3>Index des utilisateurs et follow</h3>
        <p class="text-justify">
            En étant authentifié et en cliquant sur "<span class="fa fa-users"></span>Utilisateurs" vous pourrez consulter l'annuaire des utilisateurs du .NETWork.
            En cliquant sur l'étoile vous pouvez follow ou unfollow quelqu'un. Vous pouvez également jeter un oeil au profil. Vous pouvez follow depuis le profil d'une personne, toujours en cliquant sur l'étoile.
        </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <h3>Se déconnecter</h3>
        <p class="text-justify">
            Vous pouvez vous déconnecter grâce au bouton... suspense... se déconnecter "Se déconnecter<span class="glyphicon glyphicon-log-out"></span>"
        </p>
    </div>
</div>
