﻿@model M2Link.Models.UserModel

@{
    ViewBag.Title = "Détail";
}

    <div>
        <h4>
            Profil de @Model.FirstName @Model.LastName
            <a class="cursor-clic">
                @if (Model.IsFollowed == false)
                {
                    <i id="follow-button" class="fa fa-star-o"></i>
                    <input type="hidden" value="@Model.Id" />
                }
                else if (Model.IsFollowed == true)
                {
                    <i id="follow-button" class="fa fa-star"></i>
                    <input type="hidden" value="@Model.Id" />
                }
            </a>
        </h4>
        <hr />
        <div class="row">
            <div class="col-md-1">
                <img src="@Url.Action("Photo", "User" , new { pseudo=Model.Pseudo })" height="64" width="64" class="avatar"/>
            </div>
            <div class="col-md-10">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Pseudo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Pseudo)
                    </dd>
                </dl>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
        <hr />
        @if (Model.Id.ToString() == User.Identity.Name)
        {
    <div class="row">
        <form method="post" action="@Url.Action("Description", "User")">
            @Html.TextBox("Description", Model.Description, new {@class = "form-control"})
            <input class="btn btn-primary" type="submit" value="Changer ma description" />
        </form>
    </div>
        }
    </div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@if (Model.Messages != null)
{
    <div>Message : </div>
    <ul class="list-group">
        @foreach (var message in Model.Messages)
        {
            @Html.Partial("_Message", message)
        }
    </ul>
}

@section Scripts
{
    @Scripts.Render("~/bundles/user");
}