﻿@model M2Link.Models.UsersModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.LabelFor(m => m.Users.FirstOrDefault().Pseudo)</th>
                <th scope="col">@Html.LabelFor(m => m.Users.FirstOrDefault().LastName)</th>
                <th scope="col">@Html.LabelFor(m => m.Users.FirstOrDefault().FirstName)</th>
                <th scope="col">@Html.LabelFor(m => m.Users.FirstOrDefault().Email)</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Pseudo</td>
                    <td>@user.LastName</td>
                    <td>@user.FirstName</td>
                    <td>@user.Email</td>
                    <td class="text-center">
                        <a href="@Url.Action("Details", "User", new { id = user.Id })">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="cursor-clic">
                            @if (user.IsFollowed == false)
                            {
                                <i id="follow-button" class="fa fa-star-o"></i>
                                <input type="hidden" value="@user.Id" />
                            }
                            else if (user.IsFollowed == true)
                            {
                                <i id="follow-button" class="fa fa-star"></i>
                                <input type="hidden" value="@user.Id" />
                            }
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/user");
}