﻿@{
    ViewBag.Title = "Page de connexion";
}

@model LoginModel

<h2>Connexion</h2>

@using (Html.BeginForm())
{
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(m => m.Pseudo)
            @Html.EditorFor(m => m.Pseudo)
            @Html.ValidationMessageFor(m => m.Pseudo, null, new { @class = "text-danger" })
            @Html.ValidationMessage("ErrorPseudo", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.EditorFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
            @Html.ValidationMessage("ErrorPassword", new { @class = "text-danger" })
        </div>
        <button type="submit" class="btn btn-primary" id="checkout">Se connecter</button>
    </div>

}