﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/css/navbar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/message.css")" rel="stylesheet" type="text/css" />


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Le .NETWork", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse navbar-dark indigo">
                @if (!Context.User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="@Url.Action("Form", "Register")">
                                <span class="glyphicon glyphicon-registration-mark"></span>
                                S'inscrire
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Login", "User")">
                                <span class="glyphicon glyphicon-log-in"></span>
                                Se connecter
                            </a>
                        </li>
                    </ul>
                }
                else
                {
                    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="@Url.Action("Index", "User")">
                                    <span class="fa fa-users"></span>
                                    Utilisateurs
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Edit", "User")">
                                    <span class="glyphicon glyphicon-user"></span>
                                    Edition
                                </a>
                            </li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    Se déconnecter
                                    <span class="glyphicon glyphicon-log-out"></span>
                                </a>
                            </li>

                        </ul>
                    }

                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Le .NETWork - Martin Blondel, Antoine Guillory</p>
            <a href="@Url.Action("Description", "Description")">
                Une petite description de la webapp ?
            </a>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
