﻿@model MessageModel

    <li class="list-group-item message-posted">
        <span onclick="window.location.href = '@Url.Action("Details", "User", new { id = Model.UserId })';">
            <p>
                <img src="@Url.Action("Photo", "User" , new { pseudo=Model.Pseudo })" class="avatar" height="48" width="48" />
                <span class="color-dark">
                    &nbsp;&nbsp;@Model.Pseudo
                </span><span class="createdat">Le @Model.CreateAt</span> à dit
            </p>
            <div>
                @Model.Content
            </div>
        </span>
    </li>