﻿
@{
    ViewBag.Title = "Creation de message";
}

@model MessageModel

    <h2>Poster un message</h2>

@using (Html.BeginForm())
{
<div class="col-md-12">
    <div class="form-group">
        @Html.LabelFor(m => m.Content)
        @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Content, null, new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary" id="checkout">Poster</button>
</div>
    
}
